.left {
	width: 360px;
	border: 2px solid black;
	display: inline-block;
	height: 400px;
	vertical-align: top;
	padding: 20px;
}
.right {
	width: 360px;
	border: 2px solid black;
	display: inline-block;
	height: 200px;
	vertical-align: top;
	padding: 20px;	
}
#errors {
	color: red;
}
#alert {
	color: green;
}
#beg {
	border: 2px solid black;
	text-decoration: none;	
	background-color: grey;
	padding: 2px;
}
.logs {
	margin-left: 36px;
}
.city {
	margin-left: 46px;
}
#form {
	margin-left: 20px;
}